<% include partials/header.ejs %> <% var titulo %> <% var tipos %> <% var
medicina %> <% var selectedtype %>

<div class="user-control text-white text-uppercase bg-primary">
    <span class="badge badge-light"><%= titulo %></span>
  </div>
  <div class="user-buttons text-white text-uppercase bg-primary text-right">
      <a href="/sign-out" class="d-inline-block btn btn-secondary border border-white log-out-button">Cerrar sesión</a>
    </div>
  <div class="bg-dashboard-p dashboard-p">
    <hr />
    <div class="container-fluid">
      <div class="row dashboard-row">
        <div class="col-sm-1 col-xs-1 buttons-column">
          <div class="card-group button-card-group">
            <div class="card card-medicina button-card selected-card">
              <img
                class="card-img-top"
                src="/img/medicina.png"
                alt="Card image cap"
              />
              <div class="card-body"><h5 class="card-title">Medicina</h5></div>
            </div>
            <div class="card card-agenda button-card">
              <img
                class="card-img-top"
                src="/img/agenda.png"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Agenda del día</h5>
              </div>
            </div>
            <div class="card card-calendario button-card">
              <img
                class="card-img-top"
                src="/img/calendario.png"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Calendario</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col display-tool bg-white border border-secondary">
          <form
            class="container-fluid text-center"
            action="/medicine-list/modify/<%= medicina.id_Medicina %>"
            method="POST"
          >
            <div>
              <p class="font-weight-bold text-info" style="margin-top: 1%;">
                Instrucciones: edite el siguiente formulario para editar la
                información de su medicina y receta
              </p>
            </div>
            <div>
              <p class="font-weight-bold text-center" style="margin-top: 1%;">
                Los siguientes campos son del empaque de su medicina.
              </p>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Nombre de medicina:</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombre_medicina"
                  name="nombre_medicina"
                  value="<%= medicina.nombreMedicina %>"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label>Tipo de medicamento</label>
                <select
                  id="tipo_medicina"
                  name="tipo_medicina"
                  class="form-control"
                  value="<%= medicina.tipoMedicina %>"
                  required
                >
                  <% tipos.forEach((tipo, index) => { %> <% if
                  (tipo.id_Presentacion == selectedtype) { %>
                  <option value="<%= tipo.id_Presentacion %>" selected
                    ><%= tipo.nombrePresentacion %></option
                  >
                  <% } else {%>
                  <option value="<%= tipo.id_Presentacion %>"
                    ><%= tipo.nombrePresentacion %></option
                  >
                  <% } %> <% }) %>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="total_ml"
                  >mL (mililitros) totales del frasco</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="total_ml"
                  name="total_ml"
                  placeholder="ej: 150"
                  value="<%= medicina.gramosTotales %>"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label class="mg_individual"
                  >mg (miligramos) por pastilla</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="mg_individual"
                  name="mg_individual"
                  placeholder="ej: 50"
                  value="<%= medicina.gramosTotales %>"
                  required
                />
              </div>

              <div class="form-group col-md-6">
                <label class="numero_tabletas"
                  ># total de pastillas en el empaque</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="numero_tabletas"
                  name="numero_tabletas"
                  placeholder="ej: 50"
                  value="<%= medicina.cantidadDePresentacion %>"
                  required
                />
              </div>
            </div>

            <div>
              <p class="font-weight-bold text-center" style="margin-top: 1%;">
                Los siguientes campos son de su receta.
              </p>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label class="consumir_tabletas"
                  ># de unidades a consumir</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="consumir_tabletas"
                  name="consumir_tabletas"
                  placeholder="ej: 3"
                  value="<%= medicina.tabletasConsumo %>"
                  required
                />
              </div>
              <div class="form-group col-md-12">
                <label class="consumir_ml">Cantidad a consumir (en mL)</label>
                <input
                  type="number"
                  class="form-control"
                  id="consumir_ml"
                  name="consumir_ml"
                  value="<%= medicina.cantidadConsumo %>"
                  required
                />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label
                  >¿Por cuantos días se tomará el medicamento? (en días)</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="dias_receta"
                  name="dias_receta"
                  value="<%= medicina.diasDosis %>"
                  required
                />
              </div>
              <div class="form-group col-md-6">
                <label>¿Cada cuanto se tomará? (en horas)</label>
                <input
                  type="number"
                  class="form-control"
                  id="horas_receta"
                  name="horas_receta"
                  value="<%= medicina.frecuenciaHoraDosis %>"
                  required
                />
              </div>
              <div class="form-group col-md-12">
                  <label>Notas u observaciones de la medicina o receta</label>
                  <textarea
                    type="text"
                    class="form-control"
                    id="notas_observaciones"
                    name="notas_observaciones"
                  ><%= medicina.notas %></textarea>
              </div>
            </div>
            <div class="form-row text-center">
              <div class="form-group col-md-12">
                <a
                  class="btn btn-danger"
                  href="/medicine-list"
                  style="color: #fff;"
                  >Cancelar</a
                >
                <button class="btn btn-primary" type="submit">Editar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<% include partials/scripts-section-paciente.ejs %>
